body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
  background: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.navbar a {
  margin-left: 20px;
  text-decoration: none;
  color: black;
}

.hero {
  height: 80vh;
  background: url("hero.webp") center/cover;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero button {
  padding: 12px 30px;
  border-radius: 25px;
  border: none;
  background: white;
  color: #d4a017;
  font-size: 16px;
}

.welcome {
  padding: 15px;
  text-align: center;
  background: linear-gradient(to right, #e6b800, #ff7a18);
  color: white;
}

.section {
  padding: 80px 50px;
  text-align: center;
}

.subtitle {
  color: gray;
  margin-bottom: 40px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
}

.image-card {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  background: #f5f5dc;
}

.image-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.image-card h3 {
  padding: 15px;
}

.contact-form {
  max-width: 500px;
  margin: auto;
  background: #f5f5dc;
  padding: 30px;
  border-radius: 15px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  margin-top: 8px;
  padding: 10px;
}

footer {
  background: #2b160b;
  color: white;
  padding: 40px;
}

.footer-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
}
.auth-bg {
  height: 100vh;
  background: linear-gradient(to right, #e6b800, #ff7a18);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: white;
  padding: 35px;
  width: 320px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.auth-box h2 {
  margin-bottom: 10px;
  color: #2b160b;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

.auth-box button {
  width: 100%;
  margin-top: 20px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #d4a017;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.switch {
  margin-top: 15px;
}

.switch a {
  color: #d4a017;
  text-decoration: none;
}
